* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 400px;
  min-width: 400px;
  padding: 25px;
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
}
.heading {
  font-size: 2rem;
  color: rgb(27, 147, 163);
}

.card {
  background-color: rgb(61, 160, 173);
  position: relative;
  text-align: left;
  padding: 25px 10px;
  height: 200px;
  margin: 50px 0;
  border-radius: 25px;
  background: rgb(23, 190, 212);
  box-shadow: 20px 20px 23px #d0d0d0, -20px -20px 23px #f0f0f0;
}

.top {
  border-radius: 20px 20px 0 0;
  background-color: rgb(9, 211, 238);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
}
.name {
  display: flex;
  flex: 1;
  font-size: 1.4rem;
  margin: 30px 20px 0;
  color: rgb(20, 134, 134);
}
.card img {
  margin: 30px 10px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 6px solid white;
  width: 110px;
  height: 110px;
}
.bottom {
  margin-top: 90px;
  position: absolute;
  margin-left: 10px;
}

.bottom .info {
  margin: 10px 0;
  color: rgb(13, 37, 71);
  font-size: 12px;
}
